<a href="https://colab.research.google.com/github/smartcodingssam/sw/blob/main/1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**데이터 타입**
*   정수형   int
*   실수형   float
*   문자열형 str
*   부울형   bool : True, False

In [4]:
a = 19
b = 3.1415
c = "hello"
d = True
print(a, b, c, d)
print(3>4)

19 3.1415 hello True
False

**input**

In [ ]:
print("파이썬의 세계에 오신 것을 환영합니다.")
name = input("이름을 입력하세요 : ")
school = input("학교를 입력하세요 :")

print(school + "의 " + name +"님, 반갑습니다.")
print("화이팅!")

**계산기**

In [1]:
first = input("첫번째 숫자 입력 : ")
second = input("두번째 숫자 입력 : ")
print("두수의 합 : " , first + second) #수정필요

첫번째 숫자 입력 : 5
두번째 숫자 입력 : 6
두수의 합 :  56

**문자열 인덱싱**

In [3]:
a = "python"
print(a[0])
print(a[1])
print(a[5])
print(a[6])  # 결과는?

p
y

IndexError: ignored

In [11]:
print(a[0])
print(a[0:3])
print(a[-1])

p
pyt
n

In [14]:
birthday = "20070501"
year = birthday[:]  #년도
month = birthday[:] #월
date = birthday[:]  #일
print(year, month, date)

20070501 20070501 20070501